
div.sphere {
  width: 100px;
  height: 100px;
  background-color: rgb(218, 28, 54);
  background: radial-gradient(at top left, #c43c39 20%, #DA1C36);
  -ms-border-radius: 150px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  -o-border-radius: 150px;
  border-radius: 150px;
  margin: 0px auto;
}

div.sphere:hover {
  transform: scale(1.1);
}
